* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gradient1: hsl(236, 72%, 79%);
$gradient2: hsl(237, 63%, 64%);
$grayish1:hsl(240, 78%, 98%);
$grayish2: hsl(234, 14%, 74%);
$grayish3: hsl(233, 13%, 49%);
$grayish4: hsl(232, 13%, 33%);